@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.font-space-grotesk {
  font-family: "Space Grotesk", sans-serif;
}

.font-orbitron {
  font-family: "Orbitron", sans-serif;
}
